<div id="cart">
<h3><%= message %></h3>
<ul>
      <% cart.line_items.each do |line_item| %>
          <li>
            <%= line_item.smart.name %>
            |
            <%= line_item.smart.price %>
          </li>
      <% end %>
  <div>
    Total = $ <%= cart.total_amount %>
  </div>
</ul>
</div>
